.Front {
    background: transparent;
    color: white;
    margin: 30px;
    padding: 20px 0 50px 10px;
    h1 {
        font-size: 3em;
        font-weight: bold;
        padding-bottom: 30px;
    }
    hr {
        width: 30%;
        height: 3px;
        margin-right: auto;
        background-color: white;
        border: none;
    }
    p {
        width: 70%;
        font-size: 20px;
        padding: 20px 0 20px 0;
        margin-bottom: 20px; 
    }
    a {
        text-decoration: none;
        color: crimson;
        background-color: white;
        padding: 20px;
    }
}