.gallery-page-container {
    background-color: #a5728e;
    width: 100%vw;
    height: 530px;
    .gallery-container {
        display: flex;
        flex-direction: column;
        .header-center {
            text-align: center;
        }
        .loop-row {
            display: flex;
        }
        .picture-container {
            margin-top: 30px;
            text-align: center;
            width: 100%vw;
            height: 300px;
        }
        .gallery-btn {
            margin-top: 20px;
            text-align: center;
            a {
                list-style: none;
                text-decoration: none;
                border: 1px solid grey;
                background-color: honeydew;
                color: indianred;
                padding: 10px;
                
            }
        }
    }
}