.loop-page-container {
    background-color: #f7f7f7;
    width: 100%vw;
    height: 100&vh;
    .loop-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .text-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
            padding: 0 0 20px 0;
            h4 {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            p {
                text-align: center;
                word-wrap: break-word;
                padding-bottom: 10px;
            }
        }
        .loop-row {
            display: flex;
            height: 70%;
            padding-right: 10px;
            padding-left: 10px;
            .loop-section {
                margin: 10px;
                border: 1px solid grey;
                display: flex;
                flex-direction: column;
                padding-bottom: 10px;;
                .svg {
                    width: 100%;
                    height: 100;
                    margin: 0px;
                    padding: 10px;
                    img {
                        padding: auto;
                        width: 100%;
                        height: auto;
                    }
                    /*img:hover {
                        transform: scale(1);
                    }*/
                }
                .text-section {
                    padding: 10px;
                    text-align: center;
                    p {
                        margin-bottom: 30px;
                    }
                    a {
                        text-decoration: none;
                        background-color: hotpink;
                        color: white;
                        margin-bottom: 20px;
                        padding: 10px 20px 10px 20px;
                    }
                    a:hover {
                        background-color: indianred;
                    }
                }
            }
            .loop-section:hover {
                border: 2px solid green;
            }
        }
    }
}
@media screen and (max-width: 700px){
    .loop-page-container {
        .loop-container {
            .text-center {
                font-family: "roborto";
            }
            .loop-row {
                display: flex;
                flex-direction: column;
            }
        }
    }
}