.Container {
    display: flex;
    flex-direction: column;
    .One {
        width: 100%;
        height: 300px;
        background-color: crimson;
    }
    .Two {
        width: 100%;
        height: 500px;
        background-color: white;
    }
    .Three {
        width: 100%;
        height: 500px;
        background-color: red;
    }
    .Four {
        width: 100%;
        height: 500px;
        background-color:white;
    }
}